<h3>Active Students</h3>

<table class="table">
  <tr>
    <th width="200">Name </th>
    <th width="200">Age </th>
    <th width="200">Rating </th>
    <th></th>
    <th></th>
  </tr>

<% @active_students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student_path(student) %></td>
    <td align="center"><%= student.age %></td>
    <td align="center"><% if student.rating == 0 %><%= "Unrated" %><% else %><%= student.rating %><% end %></td>
    <% if logged_in? %>
      <% if current_user.role == 'admin' %>
        <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>