<%= simple_nested_form_for(@instructor, html: { class: 'form-horizontal' }) do |f| %>
   <div class="row">
      <div class="span7">
        <fieldset>
           <legend><%= controller.action_name.capitalize %> Instructor</legend>
            
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :phone, as: :string %>
            <%= f.input :email %>
            <%= f.input :active %>
            <%= f.input :bio, input_html: { rows: 6 } %>
        </fieldset>
      </div>
      <div class="span5">
        <legend>User</legend>
          <div id="users">
            <%= f.simple_fields_for :user do |u| %>
              <%#= u.link_to_remove("x") %>
              <%= u.label :username, "Username" %><br />
              <%= u.text_field :username %>
              <%= u.label :password %><br />
              <%= u.password_field :password %>
              <%= u.label :password_confirmation, "Confirm Password" %><br />
              <%= u.password_field :password_confirmation %>
              <%= u.label :role %><br />
              <%= u.select :role, User::ROLES, :prompt => "Select ..." %>
            <% end %> 
            <p>
              <!-- <br /> -->
<!--               <% if @instructor.user ==nil %>
              <%= f.link_to_add("Add User", :user, :class => 'button tiny') %>
              <% end %> -->
            </p>
          </div> 
        </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of instructors', instructors_path, :class => 'button secondary radius' %>
    </div>

<% end %>

