<h3>2013 Camp Payment Information</h3>
<% balance = 0 %>
<% @y13.each do |c| %>
  <h5><%=" #{c.name}" %> </h5>
  <%= "Students Paid: #{paid = (c.registrations.select{|i| i.payment_status == "full"}.size)}" %> <br />
  <%= "Students Deposited: #{deposit = (c.registrations.select{|i| i.payment_status == "deposit"}.size)}"%><br /><br />
  
  <%= "Amount recieved: $ #{recieved = (paid*c.cost) }" %> <br />
  <%= "Balance due: $ #{balance += ((c.registrations.size*c.cost).to_i - recieved.to_i)}" %>
  <p> --------------------- </p>
 <% end %>
 <h4><%= "Balance: $#{balance}" %></h4>